#root1 {
    -fx-background-image: url('Valorant/Background.jpg');
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}
#borderPanes0, #borderpanes1, #borderpanes2, #borderpanes3, #borderpanes4, #borderpanes5 {
    -fx-background-image: url('Valorant/Background2.jpg');
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}
#label1 {
    -fx-font-size: 26;
    -fx-font-weight: BOLD;
    -fx-text-fill: White;
}
#button1 {
    -fx-background-image: url('Valorant/Split.jpg');
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-insets: 0, 0, 0, 0;
}
#button2 {
    -fx-background-image: url('Valorant/Bind.jpg');
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-insets: 0, 0, 0, 0;
}
#button3 {
    -fx-background-image: url('Valorant/Ascent.jpg');
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-insets: 0, 0, 0, 0;
}
#button4 {
    -fx-background-image: url('Valorant/Haven.jpg');
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-insets: 0, 0, 0, 0;
}
#button5 {
    -fx-background-image: url('Valorant/Icebox.jpg');
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-insets: 0, 0, 0, 0;
}
#button17 {
    -fx-background-image: url('Valorant/Breeze.jpg');
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-insets: 0, 0, 0, 0;
}
#stratText0, #stratText1, #stratText2, #stratText3, #stratText4, #stratText5 {
    -fx-font-size: 30;
    -fx-font-weight: BOLD;
    -fx-text-fill: White;
}

#generateButtons0, #generateButtons1, #generateButtons2, #generateButtons3, #generateButtons4, #generateButtons5 {
    -fx-font-size: 26;
    -fx-font-weight: BOLD;
}

#mainMenuButtons0, #mainMenuButtons1, #mainMenuButtons2, #mainMenuButtons3, #mainMenuButtons4, #mainMenuButtons5 {
    -fx-font-size: 24;
    -fx-font-weight: BOLD;
    -fx-text-fill: Black;
}
